<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
    <link href="/Static/CSS/index.css" rel="stylesheet" type="text/css">


</head>
<body>
    <p>===> Слайдер1 <===</p>
    <div class="wrapper">
        <button class="prev" id="left">&#10094</button>
        <div class="carousel">
            <img id="1" width="460" height="315" src="https://klike.net/uploads/posts/2019-11/1574605225_2.jpg" alt="Slider1" draggable="false" />
            <img id="2" width="460" height="315" src="https://klike.net/uploads/posts/2019-11/1574605244_3.jpg" alt="Slider2" draggable="false" />
            <img id="3" width="460" height="315" src="https://klike.net/uploads/posts/2019-11/1574605272_4.jpg" alt="Slider3" draggable="false" />
        </div>
        <button class="next" id="right">&#10095</button>
    </div>
    <script src="/Static/JS/slider.js" defer></script>
</body>
</html>