<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>LifeSpot</title>
    <link href="../Static/CSS/index.css" rel="stylesheet" type="text/css" />
    <script src="/Static/JS/index.js" defer></script>
</head>
<body>
    <header>
        <h1>LifeSpot - прямые трансляции с улиц</h1>
        <p>Покажем, что происходит прямо сейчас</p>
        <form action="/" method="post">
            <label>Поиск видео</label>
            <input type="search"/> 
        </form>
        
    </header>
    <div class="bordered">

        <div class="video-container">
            <h3>Трансляция Санкт-Петербурга</h3>
            <iframe width="426" height="240" src="https://www.youtube.com/embed/h1wly909BYw?si=gSyQZQfmIalwFGYw" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        </div>

        <div class="video-container">
            <h3>Трансляция Москвы</h3>
            <iframe width="426" height="240" src="https://www.youtube.com/embed/-fuGASlfFc4?si=b4K_1XqpKjfJFSoe" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        </div>

        <div class="video-container">
            <h3>Трансляция Нью-Йорка</h3>
            <iframe width="426" height="240" src="https://www.youtube.com/embed/GSmCh4DrbWY?si=djqEiWUzaXPMbANF" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        </div>
    </div>

    <aside id="sidebar">
        <div class="navbar">
            <a href="/"><p>Все трансляции</p></a>
            <a href="/"><p>О проекте</p></a>
        </div>
    </aside>
    <footer>
        <p>LifeSpot - все права защищены</p>
        <p>Связаться с нами: contact@lifespot.ru</p>
    </footer>
</body>
</html>